* {
    background-color: #1a2c3e;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.a {
    margin-top: 200px;
    margin-right: 200px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #FFA500;
    border: 1px solid black;
    border-radius: 15px;
}

.a:hover {
    transform: rotate(90deg);
    font-weight: bolder;
}

.b {
    margin-top: 200px;
    margin-right: 200px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #FFFF00;
    border: 1px solid black;
    border-radius: 15px;
}

.b:hover {
    transform: translate(50px, 100px);
    font-weight: bolder;
}

.c {
    margin-top: 200px;
    margin-right: 200px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #FF00FF;
    border: 1px solid black;
    border-radius: 15px;
}

.c:hover {
    transform: scale(1.5, 1.5);
    font-weight: bolder;
}

.d {
    margin-top: 200px;
    margin-right: 200px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #00FF00;
    border: 1px solid black;
    border-radius: 15px;
}

.d:hover {
    transform: skewX(20deg);
    font-weight: bolder;
}


h1 {
    text-align: center;
    padding-bottom: 10px;
    border: 10px solid rgb(34, 222, 197);
    border-radius: 30px;
    background-color: rgb(34, 222, 197);

}

a {
    background-color: rgb(34, 222, 197);
    color: black;
    text-decoration: none;
}